<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="FlashCMD" Manufacturer="FlashCMD"
           Version="$(var.ProductVersion)"
           UpgradeCode="9A01663B-A6B0-4B11-9367-82FFAE8B92DF"
           Scope="perUser" Compressed="yes">
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer FlashCMD version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="installer/windows/FlashCMD-License.rtf" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open FlashCMD now" />
    <Property Id="WixShellExecTarget" Value="[#FlashCmdExe]" />
    <CustomAction Id="LaunchApplication"
                  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixShellExec"
                  Impersonate="yes" />

    <UI Id="FlashCmdInstallerUI">
      <ui:WixUI Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication"
               Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
    </UI>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="LocalProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="FlashCMD">
          <Component Id="ApplicationFiles" Guid="6A6B5251-2F79-40B9-BFB8-4A1E7A6A4D0E">
            <File Id="FlashCmdExe" Source="$(var.SourceExe)" Name="FlashCMD.exe" />
            <RegistryValue Root="HKCU" Key="Software\FlashCMD\Installer"
                           Name="ApplicationFiles" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
            <RemoveFolder Id="RemoveLocalProgramsFolder" Directory="LocalProgramsFolder" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="StartMenuShortcut" Guid="1FB4F1C7-FA7B-4D7B-8D1A-8E60898A18AA">
        <Shortcut Id="FlashCmdStartMenu" Name="FlashCMD"
                  Target="[INSTALLFOLDER]FlashCMD.exe" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\FlashCMD\Installer" Name="StartMenuShortcut"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="FlashCMD" Level="1">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>